# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# yes, i use nixOS now
shell.nix

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
